body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 32px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  height: 48px;
  align-items: center;
}

nav li {
  background-color: indianred;
  padding: 16px;
  height: 16px;
  margin-left: 2px;
}

.logo {
  height: 48px;
  flex: end;
}

h1,
h2 {
  color: indianred;
  text-align: center;
  margin-bottom: 32px;
}

#example {
  margin: 16px 0;
  padding-left: 16px;
}

#example-head {
  padding: 16px 0;
}

.semi-transparent {
  opacity: 0.5;
  color: gray;
}

#declaration {
  width: 20%;
}

.cheat-sheet {
  text-align: center;
  border: 1px gray solid;
  max-width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}

.cheat-table-head {
  background-color: indianred;
  color: white;
}

.cheat-sheet td {
  border: 1px solid gray;
  padding: 12px 0;
}

.code {
  background-color: rgba(128, 128, 128, 0.5);
  font-family: "Courier New", Courier, monospace;
}

.firstcol {
  width: 15%;
}

.midcol {
  width: 20%;
}

.lastcol {
  width: 65%;
}

footer {
  text-align: right;
  font-size: 12px;
  color: gray;
}

br {
  margin-bottom: 8px;
}
